* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    /* background: rgb(39, 37, 37); */
    /* text-align: right; */
}

/* Project - Rock Paper Scissors */
 
.main-container {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

h1{
  font-size: 3rem;
  color: hsl(0, 0%, 20%);
}

.choices button {
  font-size: 5rem;
  min-width: 100px;
  margin: 0 20px;
  border-radius: 200px;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  transition:background-color 0.5s ease;
}

.choices button:hover{
  background-color: hsl(200, 100%, 70%);
}

.displays {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

#resultDisplay{
  font-size: 2rem;
  color: hsl(234, 100%, 50%);
}

.greenText, #playerScoreDisplay{
  color: hsl(130, 84%, 54%);
}

.redText, #computerScoreDisplay{
  color: hsl(0, 84%, 60%);
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}